@import 'default-common';

.flex-large-item {
  flex: 0 1 7rem;
}

.topic-image-1 {
  width: 100%;

  img {
    @include hub-topic-image-style();
    width: 100%;
  }
}

.topic-image-4 {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;

  img {
    @include hub-topic-image-style();
    height: 6rem;
    width: 6rem;
    margin-right: .5rem;
  }

  img:nth-child(2n) {
    margin-right: 0;
  }
}

.topic-image-9 {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;

  img {
    @include hub-topic-image-style();
    height: 3.8rem;
    width: 3.8rem;
    margin-right: .5rem;
  }
  img:nth-child(3n) {
    margin-right: 0;
  }
}
