@import 'default-common';

.flex-large-item {
  flex: 0 1 8rem;
}

.topic-image-1 {
  width: 12.6rem;

  img {
    @include hub-topic-image-style();
    width: 100%;
  }
}

.topic-image-4 {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  img {
    @include hub-topic-image-style();
    height: 6.12rem;
    width: 6.12rem;
  }
}

.topic-image-9 {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  img {
    @include hub-topic-image-style();
    height: 4.2rem;
    width: 4.1rem;
  }
}
