@import 'normalize';

$page_backgroud: #B2B2B2;
$topic_background: #FFFFFF;

body {
  background-color: $page_backgroud;
  padding: 0;
  margin: 0;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

div.topic {
  display: flex;
  flex: none;
  background-color: $topic_background;
  flex-direction: column;
  padding: 40rem;
  border: 1px solid #B2B2B2;
}

div.topic_head {
  font-size: 32rem;
  span.topic_head_name {
    font-size: 40rem;
  }
  span.topic_head_title {
    left: 20rem;
  }
  img {
    vertical-align: top;
    width: 100rem;
    height: 100rem;
    border-radius: 50%;
  }
  div.topic_head_people {
    display: inline-block;
    margin: 0 20rem;
  }
}

div.topic_title {
  font-size: 32rem;
  padding: 10rem;
}

div.topic_image_1 {
  width: 670rem;
  img {
    width: 100%;
    border-radius: 14rem;
  }
}

div.topic_image_4 {
  display: flex;
  flex: 0 1 670rem;
  flex-flow: row wrap;
  justify-content: space-between;
  img {
    width: 316rem;
    height: 316rem;
    border-radius: 14rem;
  }
}
