@import 'normalize';

@mixin hub-icons($image-url, $margin-top:8rem) {
  background: image-url($image-url) no-repeat;
  background-size: 32rem 29rem;
  float: left;
  height: 29rem;
  margin-right: 12rem;
  margin-top: $margin-top;
  width: 32rem;
}

@mixin hub-topic-image-style() {
  border-radius: 14rem;
  margin-bottom: 15rem;
}

$page-backgroud: #b2b2b2;
$topic-background: #fff;
$bold-text-color: #333;
$head-text-color: #666;
$title-text-color: #777;
$light-text-color: #999;
$praise-text-color: #172434;
$category-text-color: #ababab;

body {
  background-color: $page-backgroud;
  margin: 0;
  padding: 0;
}

p {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.gray-reply {
  @include hub-icons('hubs/gray_comment.png', 11rem);
}

.gray-liker {
  @include hub-icons('hubs/gray_heart.png');
}

.red-liker {
  @include hub-icons('hubs/red_heart.png');
}

.bold-text {
  color: $bold-text-color;
}

.light-text {
  color: $light-text-color;
}

.flex-large-item {
  flex: 0 1 350rem;
}

.topic-content {
  background-color: $topic-background;
  border-top: 1px solid $page-backgroud;
  display: flex;
  flex: none;
  flex-direction: column;
  padding: 30rem 40rem;
}

.topic-head {
  color: $head-text-color;
  font-size: 28rem;

  .topic-head-name {
    font-size: 40rem;
  }

  .topic-head-title {
    left: 20rem;
  }

  img {
    border-radius: 50%;
    height: 100rem;
    vertical-align: top;
    width: 100rem;
  }

  .topic-head-people {
    display: inline-block;
    margin: 0 20rem;
  }

  .topic-category {
    color: $category-text-color;
    float: right;
    margin-top: 16rem;
  }
}

.topic-title {
  color: $title-text-color;
  font-size: 32rem;
  padding: 16rem 10rem;
}

.topic-image-1 {
  width: 670rem;

  img {
    width: 100%;
    @include hub-topic-image-style();
  }
}

.topic-image-4 {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  img {
    height: 316rem;
    width: 324rem;
    @include hub-topic-image-style();
  }
}

.topic-image-9 {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  img {
    height: 210rem;
    width: 214rem;
    @include hub-topic-image-style();
  }
}

.topic-footer {
  align-items: center;
  color: $praise-text-color;
  display: flex;
  flex-flow: row wrap;
  font-size: 28rem;
  height: 40rem;
  justify-content: space-between;
}

.topic-likers {
  background-color: $topic-background;
  border-top: 1px solid $page-backgroud;
  padding: 30rem 40rem;

  img {
    border-radius: 50%;
    height: 60rem;
    margin-right: 10rem;
    width: 60rem;
  }
}

.topic-replies {
  background-color: $topic-background;
  font-size: 30rem;
  padding: 30rem 40rem;
}
