@import 'normalize';

$page-backgroud: #b2b2b2;
$topic-background: #fff;
$bold-text-color: #333;
$head-text-color: #666;
$title-text-color: #777;
$light-text-color: #999;
$praise-text-color: #172434;

body {
  background-color: $page-backgroud;
  margin: 0;
  padding: 0;
}

p {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.bold-text {
  color: $bold-text-color;
}

.light-text {
  color: $light-text-color;
}

.flex-large {
  flex: 0 1 350rem;
}

.topic-container {
  background-color: $topic-background;
  border: 1px solid $page-backgroud;
  display: flex;
  flex: none;
  flex-direction: column;
  padding: 40rem;
}

.topic-head {
  color: $head-text-color;
  font-size: 32rem;

  .topic-head-name {
    font-size: 40rem;
  }

  .topic-head-title {
    left: 20rem;
  }

  img {
    border-radius: 50%;
    height: 100rem;
    vertical-align: top;
    width: 100rem;
  }

  .topic-head-people {
    display: inline-block;
    margin: 0 20rem;
  }
}

.topic-title {
  color: $title-text-color;
  font-size: 32rem;
  padding: 10rem;
}

.topic-image-1 {
  width: 670rem;

  img {
    border-radius: 14rem;
    width: 100%;
  }
}

.topic-image-4 {
  display: flex;
  flex: 0 1 670rem;
  flex-flow: row wrap;
  justify-content: space-between;

  img {
    border-radius: 14rem;
    height: 316rem;
    width: 316rem;
  }
}

.topic-image-9 {
  display: flex;
  flex: 0 1 670rem;
  flex-flow: row wrap;
  justify-content: space-between;

  img {
    border-radius: 14rem;
    height: 210rem;
    width: 210rem;
  }
}

.topic-footer {
  align-items: center;
  color: $praise-text-color;
  display: flex;
  flex-flow: row wrap;
  font-size: 40rem;
  height: 60rem;
  justify-content: space-between;
}
